 @import 'global/colors';
 @import 'global/fonts';

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(-30deg, $brand 0%, $brand 45%, transparent 45%);
}

.ui.dropdown.selection.disabled {
  color: $grey1;
  background: $grey4;
}
