.row.two.column{style: 'align-self: flex-start;'}
  .middle.aligned.column
    %h3.ui.header
      iFlow
  - if login
    .right.aligned.column
      = link_to 'Login', login_url, class: 'ui basic teal button'
