.row.two.column{style: 'align-self: flex-start;'}
  .middle.aligned.column
    %h3.ui.header
      Flow
  - if login
    .right.aligned.column
      = link_to 'Login', '', class: 'ui basic teal button' # TODO: add link to login page
